@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700&subset=latin,latin-ext);
@import url(../images/fontello/css/ssmk-icons.css);
@import url(../images/fontello/css/ssmk-icons-ie7.css);
/* CSS Document */
@charset 'utf-8';
/* normalize.css v1.0.0 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:.67em 0;}h2{font-size:1.5em;margin:.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:.83em;margin:1.67em 0;}h6{font-size:.75em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}p,pre{margin:1em 0;}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:'';content:none;}small{font-size:75%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}dl,menu,ol,ul{margin:1em 0;}dd{margin:0 0 0 40px;}menu,ol,ul{padding:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden;}figure{margin:0;}form{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}button,input{line-height:normal;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
/* elements */
html,button,input,select,textarea{font-family:'Source Sans Pro',sans-serif;}
body{font-size:14px;line-height:1.4;color:#000;text-align:center;background:#fff;}
a{color:#68961d;cursor:pointer;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{margin:0 0 20px 0;}
h1{font-size:28px;font-family: 'Titillium Web', sans-serif;font-weight: normal;color: #1b676b;}
h2{font-size:24px;font-family: 'Titillium Web', sans-serif;font-weight: normal;color: #1b676b;}
h3{font-size:18px;color: #1b676b;}
h4{font-size:14px;}
p{margin:0 0 20px 0;}
ul,ol{padding:0;margin:0 0 20px 20px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ol{list-style:decimal;}
ul li{position:relative;list-style-type:none;padding:0 0 0 20px;margin:0;}
ul li:before{position:absolute;top:0;left:0;color:#68961d;font-family: "ssmk-icons";content:'\e80d';*zoom: expression(this.runtimeStyle['zoom']='1',this.innerHTML='\e80d');}
ul ul{padding:10px 0;}
ol li{margin:0 0 0 20px;}
ol ol{padding: 10px 0;}
hr{margin:0 0 20px 0;border:0;border-top:1px solid #e5edee;}
strong{font-weight:bold;}
em{font-style:italic;}
sup,sub{position: relative;vertical-align:baseline;font-size:60%;line-height:1;}
sup{bottom:1.4ex;}
sub{top:.7ex;}
/* classes */
.r{text-align:right!important;}
.c{text-align:center!important;}
.l{text-align:left!important;}
.j{text-align:justify!important;}
.pull-left{float:left;}
.pull-right{float:right;}
.clear{clear:both;}
.cleaner{display:block;clear:both;height:0;overflow:hidden;float:none;}
.nodisplay{display:none;}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.block{display:block;}
/* xart.classes */
nav.more{text-align:right;margin:0 0 20px 0;}
nav.more a{display: inline-block;color:#fff;padding:0 10px;height: 26px;line-height: 26px;font-size: 14px;white-space: nowrap;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;background: #1b676b;text-decoration: none;-webkit-border-radius: 13px;-moz-border-radius: 13px;border-radius: 13px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
nav.more a:hover{color: #1b676b;background: #bef202;}
nav.more a:after{font-family: "ssmk-icons";content:'\e80d';margin:0 0 0 6px;}
table.normal{margin:0 0 20px 0;width:100%;background:#fff;}
table.normal th,table.normal td{padding:6px 8px;border:0;border-top:1px solid #1b676b;border-bottom:1px solid #1b676b;border-left: 1px solid #ccc;border-right: 1px solid #ccc;font-weight:normal;}
table.normal.compact th,table.normal.compact td{padding:2px 8px;}
table.normal tr:nth-child(odd) td{background:#f1f1f1;color:#000;}
table.normal th,table.normal thead td{font-weight:normal;color:#fff!important;background:#1b676b!important;}
table.normal th a,table.normal thead td a{color:#fff;}
table.normal tfoot td{background:#ddd!important;}
table.info{margin:0 0 20px 0;}
table.info td,table.info th{padding:0 7px 0 0;}
form.normal{margin:0 0 20px 0;}
form.normal label{display:block;margin:0 0 10px 0;font-weight:bold;}
form.normal .optgroup label{display:inline;font-weight:normal;}
form.normal input[type=text],form.normal input[type=email],form.normal input[type=password],form.normal textarea,form.normal select{position:relative;border: 1px solid #a6b1ba;border-bottom-color: #ebebd4;border-right-color: #ebebd4;font-size:13px;line-height:18px;margin:0 3px 5px 0;width:198px;height:18px;padding:4px 10px;color:#000;outline: none;background: #ebebd4;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
form.normal input.input-mini{width:25px;padding-left:0;padding-right:0;text-align:center;}
form.normal input.input-small{width:125px;}
form.normal input.input-large{width:300px;}
form.normal textarea{padding:10px;width:auto;height:auto;}
form.normal select{width:auto;height:auto;padding:4px;}
form.normal input[type=text]:hover,form.normal input[type=email]:hover,form.normal input[type=password]:hover,form.normal textarea:hover,form.normal select:hover,
form.normal input[type=text]:focus,form.normal input[type=email]:focus,form.normal input[type=password]:focus,form.normal textarea:focus,form.normal select:focus{background: #f5f5f0;}
form.normal .fileinputs{position:relative;overflow:hidden;display:inline-block;cursor:default;}
form.normal .fileinputs input.type-file{position:absolute;top:-10px;right:-10px;margin:0;padding:0;border:0;width:auto!important;font-size:999px;z-index:1;cursor:default;-webkit-opacity:0;-moz-opacity:0;opacity:0;filter:alpha(opacity=0);}
.normal-button{position:relative;top:0;margin:0 0 5px 0;padding:0;border:0;height:30px;padding:0 15px;color:#fff;text-align:center;overflow:visible;font-size:14px;background:#1b676b;cursor:pointer;white-space:nowrap;text-transform:uppercase;font-weight:normal;font-family: 'Titillium Web', sans-serif;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
a.normal-button{display:inline-block;text-decoration:none;line-height:28px;}
.normal-button:hover,.fileinputs:hover .normal-button{background-color:#bef202;color: #1b676b;}
.search-results .highlight,.results .highlight{background:yellow;padding:0 3px;color:#000;}
.pagehub{clear:both;text-align:center;padding:20px 0;background: url(../images/bg/05.png) no-repeat top;}
.pagehub a,.pagehub span{position:relative;display:inline-block;width:28px;height:28px;line-height:28px;text-align:center;text-decoration:none;font-size:13px;font-weight: bold;color:#1b676b;background:#bef202;-webkit-border-radius: 14px;-moz-border-radius: 14px;border-radius: 14px;}
.pagehub span.pagenav{color: #fff;background:#1b676b;}
.pagehub a:hover{background: #7fcc02;}
.pagehub span.pagenav-ico{opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);cursor:default;}
.clear-decor,.description_separator,.article_separator{clear:both;background: url(../images/bg/05.png) no-repeat top;margin:0 0 20px 0;height:10px;overflow:hidden;}
img.img-left,img[align=left]{float:left;margin:0 15px 5px 0;}
img.img-right,img[align=right]{float:right;margin:0 0 5px 15px;}
a.xeditorpopup img{padding: 2px;border:1px solid #bef202;}
a.xeditorpopup:hover img{border-color:#1b676b;}
.mod_breadcrumbs ul{margin:0 0 25px 0;padding:0;}
.mod_breadcrumbs ul li{margin:0 6px 0 0;padding:0 0 0 20px;display:inline;background-position:left;}
#system-message dt{display:none;}
#system-message .message ul{margin:0;padding:0;}
#system-message .message ul li{margin:0;padding:0;background:none;}
#system-message .message ul li:before{display: none;}
#system-message .message{padding:8px 14px;margin:0 0 15px 0;background-color:#f5f5f5;border:1px solid #1b676b;color:#1b676b;}
#system-message .notice{background-color:#bef202;}
#system-message .warning,#system-message .error{background-color:#1b676b;color: #fff;}
/* skype prevent */
span.skype_pnh_container{display:none !important;}
span.skype_pnh_print_container{display:inline !important;}
/* layout */
#wrapper{min-width: 980px;background:#fff url(../images/bg/01.png) no-repeat top;}
#col-top{position: relative;z-index: 1;height:52px;min-width: 980px;background: #1a1e1f;}
#col-top .inner{*zoom:1;width: 960px;padding: 0 10px;margin: 0 auto;text-align: left;}
#col-top .inner:before,#col-top .inner:after{display:table;content:"";}
#col-top .inner:after{clear:both;}
#page-header{position: relative;width: 960px;height: 126px;padding: 0 10px;margin: 0 auto;text-align: left;}
#page-header .logo{float: left;width: 400px;padding: 13px 0 0;}
#page-header .logo a{display: block;padding: 14px 0 0 117px;height: 86px;color: #1b676b;text-transform: uppercase;font-weight: bold;text-decoration: none;font-size: 23px;line-height: 1.1;font-family: 'Titillium Web', sans-serif;background: url(../images/logo/01.png) no-repeat;}
#page-header .logo a small{display: block;font-weight: normal;text-transform: none;font-size: 14px;padding: 5px 0 0;color: #495457;}
#container{*zoom:1;width: 960px;padding: 0 10px;text-align: left;margin: 0 auto;}
#container:before,#container:after{display:table;content:"";}
#container:after{clear:both;}
#col-main{float: right;width: 720px;}
#col-left{position: relative;float: left;width: 240px;}
#col-left:before{position: absolute;content: '';left: 100%;top:0;width: 13px;height: 516px;background: url(../images/bg/04.png) no-repeat;}
#col-right{float: right;width: 200px;padding: 36px 20px 0 0;}
#col-center{float: left;width: 460px;padding: 36px 0 0 20px;}
#content{padding: 50px;}
#content h1{color:#fff;background: #7fcc02;padding: 20px 50px;margin: -50px -50px 20px;font-size: 26px;line-height: 1;font-weight: bold;font-family: 'Titillium Web', sans-serif;background: #7fcc02;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdmY2MwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzdmY2MwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZGYxMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(left,  #7fcc02 0%, #7fcc02 60%, #bdf102 100%);background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#7fcc02), color-stop(60%,#7fcc02), color-stop(100%,#bdf102));background-image: -webkit-linear-gradient(left,  #7fcc02 0%,#7fcc02 60%,#bdf102 100%);background-image: -o-linear-gradient(left,  #7fcc02 0%,#7fcc02 60%,#bdf102 100%);background-image: -ms-linear-gradient(left,  #7fcc02 0%,#7fcc02 60%,#bdf102 100%);background-image: linear-gradient(to right,  #7fcc02 0%,#7fcc02 60%,#bdf102 100%);}
/* mods */
.mod_menu-top{float: left;padding: 18px 0 14px;color: #eafde6;}
.mod_menu-top ul{margin: 0;padding: 0;}
.mod_menu-top ul li{margin: 0 9px 0 0;padding: 0;display: inline;}
.mod_menu-top ul li:before{position: static;content: '/';}
.mod_menu-top ul li:first-child:before{display: none;}
.mod_menu-top ul li a{color: #eafde6;margin: 0 0 0 8px;text-decoration: none;}
.mod_menu-top ul li a:hover{text-decoration: underline;}
.mod_menu-top ul li:first-child a{margin-left: 0;}
.mod_menu-icons{float: right;padding: 7px 0 0 12px;}
.mod_menu-icons ul{margin: 0;padding: 0;}
.mod_menu-icons ul li{position: relative;margin: 0 0 0 5px;padding: 0;display: inline-block;}
.mod_menu-icons ul li:before{display: none;}
.mod_menu-icons ul li>a{display: inline-block;position: relative;z-index: 1;font-size: 18px;line-height: 1;font-family: 'ssmk-icons';text-decoration: none;color: #bef202;padding: 11px 13px 13px 13px;margin: 0 0 0 -15px;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_menu-icons ul li.act>a{color: #7fcc02;margin-left: 0;margin-right: 0;background: #ffffff;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmY5ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #ffffff 0%, #f2f9ff 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f9ff));background-image: -webkit-linear-gradient(top,  #ffffff 0%,#f2f9ff 100%);background-image: -o-linear-gradient(top,  #ffffff 0%,#f2f9ff 100%);background-image: -ms-linear-gradient(top,  #ffffff 0%,#f2f9ff 100%);background-image: linear-gradient(to bottom,  #ffffff 0%,#f2f9ff 100%);}
.mod_menu-icons ul li>a:hover{color: #1b676b;}
.mod_menu-icons address{position: absolute;top:100%;right:0;width: 210px;padding: 12px 12px 12px 18px;font-size: 12px;line-height: 1.4;font-style: normal;background: #fff;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjlmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWYyZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #f2f9ff 0%, #e1f2ff 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9ff), color-stop(100%,#e1f2ff));background-image: -webkit-linear-gradient(top,  #f2f9ff 0%,#e1f2ff 100%);background-image: -o-linear-gradient(top,  #f2f9ff 0%,#e1f2ff 100%);background-image: -ms-linear-gradient(top,  #f2f9ff 0%,#e1f2ff 100%);background-image: linear-gradient(to bottom,  #f2f9ff 0%,#e1f2ff 100%);-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 6px 6px;border-radius: 0 0 6px 6px;-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);box-shadow: 0 0 6px rgba(0,0,0,0.2);}
.mod_menu-icons .mod-in{background: url(../images/ico/01.png) no-repeat right 6px;}
.mod_menu-icons address p{margin: 0 0 6px;}
.mod_menu-icons a{color: #1b676b;}
.mod_menu-icons address nav a{color: #68961d;}
.mod_menu-icons address nav:before{float: left;content:'\e806';color: #7fcc02;font-size: 18px;line-height: 1;margin: 0 7px -3px 0;font-family: "ssmk-icons";}
.mod_search{float: right;margin: 14px 0 0;height:22px;border-right : 1px solid #000;}
.mod_search input[type=text]{float: left;margin: 0;padding: 3px 10px;border:0;width: 150px;height: 16px;color:#eafde6;background: #2b3133;outline: none;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_search input[type=text]:hover,.mod_search input[type=text]:focus{background: #3c4447;}
.mod_search input[type=submit]{margin: 0;padding: 0;border: 0;border-right : 1px solid #484b4c;height: 22px;width: 50px;background: none;color: #eafde6;font-size: 16px;font-weight: normal;font-family: 'ssmk-icons';-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_search input[type=submit]:hover{color: #1b676b;}
.mod_custom-certifikaty{float: right;width: 200px;padding: 16px 263px 0 0;text-align: right;}
.mod_custom-certifikaty .mod-title{margin: 0 17px 7px 0;font-size: 13px;color: #a4bbbd;}
.mod_custom-certifikaty ul{margin: 0;padding: 0;}
.mod_custom-certifikaty ul li{margin: 0 0 0 14px;padding: 0;display: inline;}
.mod_custom-certifikaty ul li:before{display: none;}
.mod_custom-sideshow{height: 260px;overflow: hidden;border-bottom: 15px solid #1b676b;}
.mod_custom-sideshow .pager{position: relative;float: right;width: 240px;margin: 0;padding: 0;overflow: hidden;background: #88db02;}
.mod_custom-sideshow .pager:before{position: absolute;content: '';left:-28px;top:0;height: 260px;width: 20px;-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.8);-moz-box-shadow: 0 0 40px rgba(0,0,0,0.8);box-shadow: 0 0 40px rgba(0,0,0,0.8);-webkit-transform: rotate(4deg);-moz-transform: rotate(4deg);-ms-transform: rotate(4deg);transform: rotate(4deg);}
.mod_custom-sideshow .pager li{margin: 0;padding: 0;}
.mod_custom-sideshow .pager li.cycle-pager-active{background: #7fcc02;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdmY2MwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZWYyMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(left,  #7fcc02 0%, #bef202 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7fcc02), color-stop(100%,#bef202));background: -webkit-linear-gradient(left,  #7fcc02 0%,#bef202 100%);background: -o-linear-gradient(left,  #7fcc02 0%,#bef202 100%);background: -ms-linear-gradient(left,  #7fcc02 0%,#bef202 100%);background: linear-gradient(to right,  #7fcc02 0%,#bef202 100%);}
.mod_custom-sideshow .pager li:before{display: none;}
.mod_custom-sideshow .pager li a{display: block;height: 49px;padding: 15px 10px 0 54px;border-top: 1px solid #70b301;border-left: 1px solid #70b301;font-size: 16px;line-height: 1.1;color:#000;text-decoration: none;background: url(../images/ico/02.png) no-repeat 24px 16px;font-family: 'Titillium Web',sans-serif;}
.mod_custom-sideshow .pager li a:hover{text-decoration: underline;}
.mod_custom-sideshow .pager li.cycle-pager-active a{position: relative;z-index: 1;color: #fff;border-color: #7fcc02;background: url(../images/ico/03.png) no-repeat 23px 16px;-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);box-shadow: 0 0 20px rgba(0,0,0,0.5);}
.mod_custom-sideshow section{position: relative;float: left;width: 480px;height: 260px;background: #7fcc02;}
.mod_custom-sideshow article{position: relative;width: 480px;height: 260px;}
.mod_custom-sideshow figure{position: absolute;left: 0;top: 0;}
.mod_custom-sideshow .content{position: absolute;left:230px;top:0;width: 210px;height: 240px;padding: 20px 20px 0;background: #7fcc02;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdmY2MwMiIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdmY2MwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);background: -moz-linear-gradient(left,  rgba(127,204,2,0.8) 0%, rgba(127,204,2,1) 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(127,204,2,0.8)), color-stop(100%,rgba(127,204,2,1)));background: -webkit-linear-gradient(left,  rgba(127,204,2,0.8) 0%,rgba(127,204,2,1) 100%);background: -o-linear-gradient(left,  rgba(127,204,2,0.8) 0%,rgba(127,204,2,1) 100%);background: -ms-linear-gradient(left,  rgba(127,204,2,0.8) 0%,rgba(127,204,2,1) 100%);background: linear-gradient(to right,  rgba(127,204,2,0.8) 0%,rgba(127,204,2,1) 100%);}
.lt-ie9 .mod_custom-sideshow .content{background: #7fcc02;}
.mod_custom-sideshow .content a{color: #fff;}
.mod_custom-sideshow .content ul{margin: 0 0 10px;padding: 0;font-size: 15px;font-family: 'Titillium Web',sans-serif;}
.mod_custom-sideshow .content ul li{margin: 0 0 2px;padding: 0;}
.mod_custom-sideshow .content ul li:before{display: none;}
.mod_newsflash_xart{padding: 0 20px 20px 20px;}
.mod_newsflash_xart .mod-title{font-size: 23px;color: #1b676b;font-weight: bold;font-size: 23px;line-height: 1;margin: 0 0 16px;font-family: 'Titillium Web',sans-serif;}
.mod_newsflash_xart article{*zoom:1;position: relative;padding: 0 0 5px 70px;margin: 0 0 16px;background: url(../images/bg/02.png) no-repeat bottom;}
.mod_newsflash_xart article:before,.mod_newsflash_xart article:after{display:table;content:"";}
.mod_newsflash_xart article:after{clear:both;}
.mod_newsflash_xart article time{position: absolute;left: 0;top: 0;width: 55px;height: 37px;padding: 23px 0 0 0;color: #1b676b;font-size: 14px;line-height: 1;font-weight: bold;text-align: center;background: url(../images/ico/04.png) no-repeat;}
.mod_newsflash_xart article time span{display: block;margin: 0 auto;color: #a6a6a6;}
.mod_newsflash_xart article figure{float: right;margin: 0 0 0 10px;}
.mod_newsflash_xart article h2{font-weight: normal;font-size: 17px;margin: 0 0 2px;}
.mod_newsflash_xart article p{line-height: 1.2;}
.mod_newsflash_xart nav{padding: 18px 0 0;line-height: 24px;text-transform: uppercase;font-family: 'Titillium Web',sans-serif;}
.mod_newsflash_xart nav a{display: inline-block;}
.mod_newsflash_xart nav a:before{float: left;text-decoration: none;content: '\e806';font-family: "ssmk-icons";color:#fff;background: #bef202;width: 24px;height: 24px;line-height: 26px;text-align: center;margin: 0 6px 0 0;overflow: hidden;text-decoration: none;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_newsflash_xart nav a:hover:before{background: #1b676b;}
.mod_jcalpro_minical_J15 {padding: 3px 0 17px;}
.mod_jcalpro_minical_J15 .mod-title{font-size: 20px;line-height: 1;color: #1b676b;margin: 0 0 18px;font-family: 'Titillium Web',sans-serif;}
.mod_jcalpro_minical_J15 .extcal_navbar_wrap{position: relative;z-index: 1;background:#bad4e7 url(../images/bg/03.png) repeat-x -1px 0;border-bottom: 2px solid #1f676a;margin: 0 0 -4px;-webkit-box-shadow: 3px 0 0 #ccc;-moz-box-shadow: 3px 0 0 #ccc;box-shadow: 3px 0 0 #ccc;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.mod_jcalpro_minical_J15 .extcal_navbar{width: 100%;text-align: center;}
.mod_jcalpro_minical_J15 .extcal_navbar td{padding: 14px 5px 6px;}
.mod_jcalpro_minical_J15 .extcal_month_label a,.mod_jcalpro_minical_J15 .month_change a{font-weight: bold;color: #1b676b;font-size:  16px;text-decoration: none;text-shadow: 1px 1px 0 #fff;}
.mod_jcalpro_minical_J15 .month_change a{font-size: 24px;line-height: 1;}
.mod_jcalpro_minical_J15 .extcal_table_wrap{position: relative;padding: 20px 20px;margin: 0 0 15px;background: #ebebd4;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #ebebd4 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ebebd4));background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#ebebd4 100%);background-image: -o-linear-gradient(top,  #f7f7f7 0%,#ebebd4 100%);background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#ebebd4 100%);background-image: linear-gradient(to bottom,  #f7f7f7 0%,#ebebd4 100%);-webkit-box-shadow: 3px 3px 0 #ccc;-moz-box-shadow: 3px 3px 0 #ccc;box-shadow: 3px 3px 0 #ccc;-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 6px 6px;border-radius: 0 0 6px 6px;}
.mod_jcalpro_minical_J15 .extcal_table{width: 100%;text-align: center;font-size: 12px;}
.mod_jcalpro_minical_J15 .extcal_table thead{font-weight: bold;}
.mod_jcalpro_minical_J15 .extcal_table tbody td{border: 1px solid #fff;background: #ececd6;}
.mod_jcalpro_minical_J15 .extcal_table tbody td span,.mod_jcalpro_minical_J15 .extcal_table tbody td a{display: block;height: 18px;line-height: 18px;}
.mod_jcalpro_minical_J15 .extcal_table tbody td a{background: #bef202;color: #000;}
.mod_jcalpro_minical_J15 .more{font-size: 13px;}
.mod_jcalpro_minical_J15 .more a:before{float: left;content:'\e806';color: #7fcc02;font-size: 18px;line-height: 1;margin: 0 7px -3px 0;font-family: "ssmk-icons";}
.mod_custom-poradna{position: relative;padding: 12px 20px;margin: 0 0 40px;color: #bef202;background: #258c91;line-height: 1.2;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1OGM5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjY3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background-image: -moz-linear-gradient(top,  #258c91 0%, #1b676b 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258c91), color-stop(100%,#1b676b));background-image: -webkit-linear-gradient(top,  #258c91 0%,#1b676b 100%);background-image: -o-linear-gradient(top,  #258c91 0%,#1b676b 100%);background-image: -ms-linear-gradient(top,  #258c91 0%,#1b676b 100%);background-image: linear-gradient(to bottom,  #258c91 0%,#1b676b 100%);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.mod_custom-poradna a{color: #eafde6;}
.mod_custom-poradna .mod-title{color: #fff;text-shadow: -1px -1px 0 rgba(0,0,0,0.5);font-size: 20px;font-weight: bold;margin: 0 0 5px;font-family: 'Titillium Web',sans-serif;}
.mod_custom-poradna p{margin: 0 0 5px;}
.mod_custom-poradna nav{position: absolute;bottom:12px;right:-20px;}
.mod_custom-poradna nav a{position: relative;display: block;width: 22px;height: 38px;line-height: 38px;padding: 0 8px;text-align: right;color: #fff;font-size: 20px;text-decoration: none;font-family: 'ssmk-icons';-webkit-border-radius: 19px;-moz-border-radius: 19px;border-radius: 19px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;background: #bef202;background: -moz-linear-gradient(left,  rgba(190,242,2,0.3) 0%, rgba(190,242,2,1) 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(190,242,2,0.3)), color-stop(100%,rgba(190,242,2,1)));background: -webkit-linear-gradient(left,  rgba(190,242,2,0.3) 0%,rgba(190,242,2,1) 100%);background: -o-linear-gradient(left,  rgba(190,242,2,0.3) 0%,rgba(190,242,2,1) 100%);background: -ms-linear-gradient(left,  rgba(190,242,2,0.3) 0%,rgba(190,242,2,1) 100%);background: linear-gradient(to right,  rgba(190,242,2,0.3) 0%,rgba(190,242,2,1) 100%);}
.mod_custom-poradna nav a:hover{left:2px;}
.mod_custom-spolupracujeme{margin: 0 0 40px;}
.mod_custom-spolupracujeme .mod-title{font-size: 20px;color: #1b676b;font-family: 'Titillium Web',sans-serif;}
.mod_custom-spolupracujeme ul{margin: 0;padding: 0;}
.mod_custom-spolupracujeme ul li{*zoom:1;position: relative;margin: 0;padding: 4px 0 2px;font-size: 11px;line-height: 1.2;}
.mod_custom-spolupracujeme ul li:before,.mod_custom-spolupracujeme ul li:after{display:table;content:"";}
.mod_custom-spolupracujeme ul li:after{clear:both;}
.mod_custom-spolupracujeme ul li:before{display: none;}
.mod_custom-spolupracujeme ul li img{float: left;margin: -4px 12px 10px 0;}
.mod_custom-spolupracujeme ul li a{text-decoration: none;color: #787878;}
.mod_custom-spolupracujeme ul li a:hover{color: #000;}
.mod_menu-main{position: relative;padding: 27px 32px 22px;margin: 0 0 18px;border-bottom: 15px solid #1b676b;}
.mod_menu-main:before{position: absolute;content: '';bottom: -15px;left:0;width: 100%;height: 5px;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.2)));background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);}
.mod_menu-main ul{margin: 0;padding: 0;}
.mod_menu-main ul li{margin: 0;padding: 0 0 6px 16px;font-size: 14px;line-height: 1.2;}
.mod_menu-main ul li:before{position: absolute;top:-2px;left:0;font-size: 18px;content: '\e806';color: #7fcc02;font-family: 'ssmk-icons';}
.mod_menu-main ul li a{color: #1a1e1f;text-decoration: none;}
.mod_menu-main ul li a:hover{text-decoration: underline;}
.mod_menu-main ul li.act>a{font-weight: bold;color: #68961d;}
.mod_menu-main ul ul{padding: 7px 0 1px;}
.mod_menu-main ul ul li{padding-left: 10px;padding-bottom: 3px;font-size: 13px;}
.mod_menu-main ul ul li:before{font-size: 16px;color: #1b676b;}
.mod_menu-main ul ul li a{color: #1b676b;}
.mod_poll{padding: 0 20px;margin: 0 0 44px;}
.mod_poll .mod-title{font-size: 20px;color: #1b676b;margin: 0 0 8px;font-family: 'Titillium Web',sans-serif;}
.mod_poll p{margin: 0 0 14px;}
.mod_poll label{float: left;clear: both;text-decoration: underline;font-size: 13px;color: #68961d;padding: 0 0 4px 35px;cursor: pointer;}
.mod_poll label:hover{text-decoration: none;}
.mod_poll .radio{position: relative;display: inline-block;width: 18px;height: 18px;font-size: 18px;margin: 0 0 0 -25px;color: #1b676b;float: left;line-height: 1;overflow: hidden;font-family: "ssmk-icons";}
.mod_poll .checked{color: #1b676b;font-weight: bold;}
.mod_poll .checked .radio{color: #68961d;}
.mod_poll .radio input{position: absolute;left:-50%;top:-50%;margin: 0;padding: 0;border: 0;width: 1000%;height: 1000%;}
.mod_poll .buttons{clear: both;padding: 14px 0 0;margin: 0 -14px 0 0;}
.mod_poll .buttons button,.mod_poll .buttons a{display: inline-block;margin: 0 14px 0 0;padding: 0;border:0;font-size: 13px;line-height: 24px;white-space: nowrap;color: #68961d;background: none;text-transform: uppercase;text-decoration: underline;font-weight: normal;font-family: 'Titillium Web',sans-serif;}
.mod_poll .buttons button:hover,.mod_poll .buttons a:hover{text-decoration: none;}
.mod_poll .buttons button:before,.mod_poll .buttons a:before{float: left;content: '\e806';font-family: "ssmk-icons";color:#fff;background: #bef202;width: 24px;height: 24px;line-height: 26px;text-align: center;margin: 0 6px 0 0;overflow: hidden;text-decoration: none;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_poll .buttons button:hover:before,.mod_poll .buttons a:hover:before{background: #1b676b;}
.mod_xnewsletter{padding: 0 20px;margin: 0 0 40px;}
.mod_xnewsletter .mod-title{font-size: 20px;color: #1b676b;margin: 0 0 10px;font-family: 'Titillium Web',sans-serif;}
.mod_xnewsletter p{line-height: 1.2;margin: 0 0 17px 0;}
.mod_xnewsletter input[type=text]{margin: 0;padding: 6px 10px;height: 16px;width: 144px;border: 1px solid #a6b1ba;border-bottom-color: #ebebd4;border-right-color: #ebebd4;outline: none;background: #ebebd4;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_xnewsletter input[type=text]:hover, .mod_xnewsletter input[type=text]:focus{background: #f5f5f0;}
.mod_xnewsletter input[type=submit]{margin: 0;padding: 0;height: 30px;width: 30px;border: 0;color: #fff;background: #1b676b;font-family: 'ssmk-icons';-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_xnewsletter input[type=submit]:hover{background: #bef202;}
.mod_custom-projekty{position: relative;z-index: 1;padding: 48px 20px 20px;background: #fff url(../images/bg/05.png) no-repeat center 10px;}
.mod_custom-projekty .mod-title{font-size: 20px;color: #1b676b;margin: 0 0 16px;font-family: 'Titillium Web',sans-serif;}
.mod_custom-projekty section{*zoom:1;overflow: hidden;margin: 0 -20px 0 0;}
.mod_custom-projekty section:before,.mod_custom-projekty section:after{display:table;content:"";}
.mod_custom-projekty section:after{clear:both;}
.mod_custom-projekty .cycle-carousel-wrap{width: 9999em;}
.mod_custom-projekty .item{width: 215px;margin: 0 20px 0 0;float: left;font-size: 13px;line-height: 1.3;white-space: normal;}
.mod_custom-projekty .item h2{*zoom:1;font-weight: normal;font-size: 14px;line-height: 1.3;margin: 0 0 8px;font-family: 'Titillium Web',sans-serif;}
.mod_custom-projekty .item h2:before,.mod_custom-projekty .item h2:after{display:table;content:"";}
.mod_custom-projekty .item h2:after{clear:both;}
.mod_custom-projekty .item h2 img{float: left;margin: -4px 14px 0 0;}
.mod_custom-projekty .arrs{position: relative;height: 1px;margin: 0 0 -1px;}
.mod_custom-projekty .prev,.mod_custom-projekty .next{position: absolute;left:-43px;top:30px;width: 26px;height: 38px;padding: 0 6px;line-height: 38px;background: #fff;font-family: "ssmk-icons";-webkit-border-radius: 19px;-moz-border-radius: 19px;border-radius: 19px;}
.mod_custom-projekty .next{left: auto;right: -43px;text-align: right;}
.mod_custom-projekty .prev:before,.mod_custom-projekty .next:before{position: absolute;content: '';top:0;left: 11px;width: 12px;height: 100%;background: url(../images/bg/06.png) no-repeat 0 -100px;}
.mod_custom-projekty .next:before{left: 15px;background-position: right;}
.mod_menu-footer{float: left;width: 458px;padding: 22px 0 22px 22px;}
.mod_menu-footer ul{margin: 0;padding: 0;}
.mod_menu-footer ul li{margin: 0 24px 0 0;padding: 0;display: inline;}
.mod_menu-footer ul li:before{display: none;}
.mod_menu-footer ul li a{text-decoration: none;}
.mod_menu-footer ul li a:hover{text-decoration: underline;}
.mod_menu-footer ul li.act a{font-weight: bold;color: #bef202;}
/* page-footer */
#page-footer{position: relative;min-width: 980px;background: #88c425;}
#page-footer:before{position: absolute;content: '';left: 0;top: 0;height: 92px;width: 100%;background: #fff;min-width: 980px;}
#page-footer .inner{position: relative;margin: 0 auto;padding: 0;text-align: left;width: 960px;padding: 0 10px;}
#col-bottom{*zoom:1;color: #787878;background: #1a1e1f;}
#col-bottom:before,#col-bottom:after{display:table;content:"";}
#col-bottom:after{clear:both;}
#col-bottom a{color: #fff;}
#page-footer .inner:before,#page-footer .inner:after{position: absolute;content: '';left: -2px;top: 0;width: 12px;height: 200px;background: url(../images/bg/06.png) no-repeat;}
#page-footer .inner:after{left: auto;right: -2px;background-position:right;}
#page-footer .copy{float: right;padding: 22px 20px 0 0;width: 460px;text-align: right;font-size: 12px;}
#page-footer .xart{padding: 20px 5px;text-align: right;font-size: 12px;text-transform: uppercase;}
#page-footer .xart img{float: right;margin: -2px 0 0 10px;}
#page-footer .xart a{color: #fff;text-decoration: none;}
