@font-face {
  font-family: 'ssmk-icons';
  src: url('../font/ssmk-icons.eot?55075078');
  src: url('../font/ssmk-icons.eot?55075078#iefix') format('embedded-opentype'),
       url('../font/ssmk-icons.woff?55075078') format('woff'),
       url('../font/ssmk-icons.ttf?55075078') format('truetype'),
       url('../font/ssmk-icons.svg?55075078#ssmk-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ssmk-icons';
    src: url('../font/ssmk-icons.svg?55075078#ssmk-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ssmk-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e805'; } /* '' */
.icon-at:before { content: '\e803'; } /* '' */
.icon-help-circled:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e800'; } /* '' */
.icon-down-dir:before { content: '\e809'; } /* '' */
.icon-up-dir:before { content: '\e808'; } /* '' */
.icon-left-dir:before { content: '\e807'; } /* '' */
.icon-mail-alt:before { content: '\e804'; } /* '' */
.icon-left-circled:before { content: '\e80e'; } /* '' */
.icon-right-circled:before { content: '\e80d'; } /* '' */
.icon-up-circled:before { content: '\e80c'; } /* '' */
.icon-down-circled:before { content: '\e80b'; } /* '' */
.icon-sitemap:before { content: '\e801'; } /* '' */
.icon-facebook-squared:before { content: '\e802'; } /* '' */
.icon-right-dir:before { content: '\e806'; } /* '' */